@font-face {
    font-family: 'Terror';
    src: url(HelpMe.ttf);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    font-family: 'Terror';
    font-size: 3em;
}
